Repository saud-alnasser/leetcode, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š type: documentation, ðŸ”§ type: tools, ðŸ“¦ flag: dependencies

.github/labeler.yml:

# types

'ðŸ“š type: documentation':
  - any: ['**/*.md']
  - any: ['**/*.mdx']

'ðŸ”§ type: tools':
  - any: ['*.config.*']
  - any: ['.*rc.*']
  - any: ['.*rc']
  - any: ['.*ignore']
  - any: ['.*attributes']
  - any:
      [
        '.github/**/*',
        '!.github/ISSUE_TEMPLATE/*',
        '!.github/pull_request_template.md',
      ]

# flags

'ðŸ“¦ flag: dependencies':
  - any: ['Cargo.lock', 'pnpm-lock.yaml']

solve problem 13 using rust lang
  .gitignore
  problems/13. Roman to Integer/Cargo.toml
  problems/13. Roman to Integer/README.md
  problems/13. Roman to Integer/src/lib.rs
  problems/13. Roman to Integer/src/solution.rs
Labels: ðŸ“š type: documentation, ðŸ”§ type: tools

create a cargo workspace
  .gitignore
  Cargo.lock
  Cargo.toml
Labels: ðŸ”§ type: tools

solve problem 234 using rust lang
  Cargo.lock
  Cargo.toml
  problems/234. Palindrome Linked List/Cargo.toml
  problems/234. Palindrome Linked List/README.md
  problems/234. Palindrome Linked List/assets/pal1linked-list.jpg
  problems/234. Palindrome Linked List/assets/pal2linked-list.jpg
  problems/234. Palindrome Linked List/src/lib.rs
  problems/234. Palindrome Linked List/src/solution.rs
Labels: ðŸ“š type: documentation

solve problem 383 using rust lang
  Cargo.lock
  problems/13. Roman to Integer/README.md
  problems/13. Roman to Integer/src/solution.rs
  problems/234. Palindrome Linked List/README.md
  problems/383. Ransom Note/Cargo.toml
  problems/383. Ransom Note/README.md
  problems/383. Ransom Note/src/lib.rs
  problems/383. Ransom Note/src/solution.rs
Labels: ðŸ“š type: documentation

create cli to handle common things
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/.gitkeep
  crates/leetcode_cli/Cargo.toml
  crates/leetcode_cli/assets/README.md
  crates/leetcode_cli/assets/[rs]/Cargo.toml
  crates/leetcode_cli/assets/[rs]/src/lib.rs
  crates/leetcode_cli/assets/[rs]/src/solution.rs
  crates/leetcode_cli/src/main.rs
  problems/13 (rs)/Cargo.toml
  problems/13 (rs)/README.md
  problems/13 (rs)/src/lib.rs
  problems/13 (rs)/src/solution.rs
  problems/234 (rs)/Cargo.toml
  problems/234 (rs)/README.md
  problems/234 (rs)/assets/pal1linked-list.jpg
  problems/234 (rs)/assets/pal2linked-list.jpg
  problems/234 (rs)/src/lib.rs
  problems/234 (rs)/src/solution.rs
  problems/383 (rs)/Cargo.toml
  problems/383 (rs)/README.md
  problems/383 (rs)/src/lib.rs
  problems/383 (rs)/src/solution.rs
Labels: ðŸ“š type: documentation

solve problem 412 (rs)
  Cargo.lock
  problems/412 (rs)/Cargo.toml
  problems/412 (rs)/README.md
  problems/412 (rs)/src/lib.rs
  problems/412 (rs)/src/solution.rs
Labels: ðŸ“š type: documentation

solve problem 1 (rs)
  Cargo.lock
  problems/1 (rs)/Cargo.toml
  problems/1 (rs)/README.md
  problems/1 (rs)/src/lib.rs
  problems/1 (rs)/src/solution.rs
  problems/13 (rs)/README.md
  problems/234 (rs)/README.md
  problems/383 (rs)/README.md
  problems/412 (rs)/README.md
Labels: ðŸ“š type: documentation

solve problem 9 (rs)
  Cargo.lock
  problems/9 (rs)/Cargo.toml
  problems/9 (rs)/README.md
  problems/9 (rs)/src/lib.rs
  problems/9 (rs)/src/solution.rs
Labels: ðŸ“š type: documentation

solve problem 20 (rs)
  Cargo.lock
  problems/20 (rs)/Cargo.toml
  problems/20 (rs)/README.md
  problems/20 (rs)/src/lib.rs
  problems/20 (rs)/src/solution.rs
Labels: ðŸ“š type: documentation

solve problem 14 (rs)
  Cargo.lock
  problems/14 (rs)/Cargo.toml
  problems/14 (rs)/README.md
  problems/14 (rs)/src/lib.rs
  problems/14 (rs)/src/solution.rs
Labels: ðŸ“š type: documentation

adjust solution for problem 14 (rs)
  problems/14 (rs)/src/solution.rs
Labels: none

implement an early return in solution for problem 14 (rs)
  problems/14 (rs)/src/solution.rs
Labels: none

solve problem 66 (rs)
  Cargo.lock
  problems/66 (rs)/Cargo.toml
  problems/66 (rs)/README.md
  problems/66 (rs)/src/lib.rs
  problems/66 (rs)/src/solution.rs
Labels: ðŸ“š type: documentation
